<div *ngIf="!usedInSidebar" class="container-fluid">
	<nav class="app-breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a routerLink="/home" routerLinkActive="active">Home</a></li>
			<li aria-current="page" class="breadcrumb-item active">Cart</li>
		</ol>
	</nav>
</div>
<div class="container-fluid">
	<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
		<div #orderRemoveToast aria-atomic="true" aria-live="assertive"
			 class="toast align-items-center text-white bg-warning border-0" role="alert">
			<div class="d-flex">
				<div class="toast-body">
					Pizza order removed from the cart!
				</div>
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-between">
		<h1 class="display-6">Cart</h1>
		<button *ngIf="(selectedPizzas | async)?.length"
				class="btn btn-primary align-self-center"
				routerLink="/order-confirmation">Checkout
		</button>
	</div>
	<div *ngIf="(selectedPizzas | async)?.length">
		<div class="d-flex justify-content-center">
			<h5>
				Order total
				<small class="text-muted">${{12.99 * (selectedPizzas | async).length}}</small>
			</h5>
		</div>
		<div class="d-flex justify-content-center align-items-start">
			<h5>
				Creation time
				<small class="text-muted">~{{5 * (selectedPizzas | async).length}} mins</small>
			</h5>
		</div>
	</div>
	<div *ngIf="!(selectedPizzas | async)?.length">
		<div class="d-flex justify-content-center">
			<p class="lead">Cart is empty</p>
		</div>
	</div>
	<div *ngIf="(selectedPizzas | async)?.length" [ngClass]="{ 'd-flex flex-column' : usedInSidebar }" class="row">
		<div *ngFor="let pizza of (selectedPizzas | async); index as i;" [ngClass]="{ 'p-3' : usedInSidebar }"
			 class="col">
			<div class="card w-100">
				<div class="card-body">
					<!-- Modified Card structure to make space for dropdown button -->
					<h5 class="card-title row">
						<div class="col">{{pizza.name}}</div>
						<div class="col">
							<img (click)="collapsed[i] = true"
								 [attr.hidden]="collapsed[i] == null || collapsed[i] != true ? null : 'true'"
								 [attr.id]="'chevron-down-' + i"
								 src="/assets/chevron-down.png"
								 style="height: 30px; float: right;">
							<img (click)="collapsed[i] = false"
								 [attr.hidden]="collapsed[i] == true ? null : 'true'"
								 [attr.id]="'chevron-up-' + i"
								 hidden src="/assets/chevron-up.png"
								 style="height: 30px; float: right;">
						</div>
					</h5>
					<div *ngIf="collapsed[i] == true" class="card-text">
						<p>$12.99</p>
						<ul class="list-group card">
							<li class="list-group-item d-flex justify-content-between align-items-start">
								<div class="ms-2 me-auto">
									<div class="fw-bold">{{pizza.crust.name}}</div>
									Crust
								</div>
								<span
									class="badge bg-primary rounded-pill">{{pizza.crust.addedCount}}</span>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-start">
								<div class="ms-2 me-auto">
									<div class="fw-bold">{{pizza.sauce.name}}</div>
									Sauce
								</div>
								<span
									class="badge bg-primary rounded-pill">{{pizza.sauce.addedCount}}</span>
							</li>
							<li *ngFor="let topping of pizza.toppings; index as i;"
								class="list-group-item d-flex justify-content-between align-items-start">
								<div class="ms-2 me-auto">
									<div class="fw-bold">{{topping.name}}</div>
									Topping
								</div>
								<span class="badge bg-primary rounded-pill">{{topping.addedCount}}</span>
							</li>
						</ul>
					</div>
					<div class="d-flex justify-content-between mt-3">
						<div>Quantity : {{ pizza.qty }}</div>
						<button (click)="onClickRemovePizza(i)" class="btn btn-danger">Remove</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
