<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
	<div #errorToast aria-atomic="true" aria-live="assertive"
		 class="toast align-items-center text-white bg-danger border-0" role="alert">
		<div class="d-flex">
			<div class="toast-body">
				Error! Pizza options missing.
			</div>
		</div>
	</div>
</div>
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 12">
	<div #successToast aria-atomic="true" aria-live="assertive"
		 class="toast align-items-center text-white bg-success border-0" role="alert">
		<div class="d-flex">
			<div class="toast-body">
				Success! Added custom pizza to cart.
			</div>
		</div>
	</div>
</div>

<div
	class="container-fluid sticky-top my-5" style="top: 50px">
	<div class="card text-center">
		<div class="card-header">
			Your Pizza
		</div>
		<div class="card-body">
			<div class="card-text">
				<ul class="list-group card">
					<li *ngIf="(selectedCrust | async)"
						class="list-group-item d-flex justify-content-between align-items-start">
						<div class="ms-2 me-auto">
							<div class="fw-bold">{{(selectedCrust | async)?.name}}</div>
							Crust
						</div>
						<span class="badge bg-primary rounded-pill">{{(selectedCrust | async)?.addedCount}}</span>
					</li>
					<li *ngIf="!(selectedCrust | async)"
						class="list-group-item d-flex justify-content-between align-items-start">
						<div class="ms-2 me-auto">
							<div class="text-danger"><strong>Crust</strong> is required</div>
						</div>
					</li>
					<li *ngIf="(selectedSauce | async)"
						class="list-group-item d-flex justify-content-between align-items-start">
						<div class="ms-2 me-auto">
							<div class="fw-bold">{{(selectedSauce | async)?.name}}</div>
							Sauce
						</div>
						<span class="badge bg-primary rounded-pill">{{(selectedSauce | async)?.addedCount}}</span>
					</li>
					<li *ngIf="!(selectedSauce | async)"
						class="list-group-item d-flex justify-content-between align-items-start">
						<div class="ms-2 me-auto">
							<div class="text-danger"><strong>Sauce</strong> is required</div>
						</div>
					</li>
					<li *ngFor="let topping of (selectedToppings | async); index as i;"
						class="list-group-item d-flex justify-content-between align-items-start">
						<div class="ms-2 me-auto">
							<div class="fw-bold">{{topping.name}}</div>
							<div class="justify-content-start">Topping</div>
						</div>
						<span class="badge bg-primary rounded-pill">{{topping.addedCount}}</span>
					</li>
					<li *ngIf="!(selectedToppings | async) || !(selectedToppings | async).length"
						class="list-group-item d-flex justify-content-between align-items-start">
						<div class="ms-2 me-auto">
							<div class="text-danger"><strong>Topping(s)</strong> is(are) required</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="card-footer text-muted">
			<a (click)="onClickAddToCart()" class="btn btn-primary">
				Add to Cart
			</a>
		</div>
	</div>
</div>
