<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
	<div #homeToast aria-atomic="true" aria-live="assertive"
		 class="toast align-items-center text-white bg-success border-0" role="alert">
		<div class="d-flex">
			<div class="toast-body">
				Success! Added specialty pizza to cart.
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<nav class="app-breadcrumb">
		<ol class="breadcrumb">
			<li aria-current="page" class="breadcrumb-item active">Home</li>
		</ol>
	</nav>
</div>

<mat-drawer-container [hasBackdrop]="false" class="example-container">
	<mat-drawer-content>
		<div class="position-sticky">
			<div class="position-absolute" style="right: 0.25rem; top: 6.5rem;">
				<button (click)="drawer.toggle()" aria-label="Toggle drawer" color="primary" mat-mini-fab
						title="Toggle drawer">
					<mat-icon>menu</mat-icon>
				</button>
			</div>
		</div>

		<section class="jumbotron text-center">
			<div class="container-fluid">
				<h1 class="jumbotron-heading">Welcome to Pizza Creation</h1>
				<p class="lead text-muted">SWE 632 - Group Project - Akshath Phillips, Daksha Arora, Madhav Shroff</p>
				<p><a class="btn btn-primary my-2 mx-2" href="#" routerLink="/custom" routerLinkActive="active">
					Create your own pizza
				</a>
				</p>
			</div>
		</section>

		<div class="album py-3 bg-light">
			<div class="container-fluid">
				<h1 class="display-4">Speciality Pizzas</h1>
				<h1 class="display-6">Non Vegetarian</h1>
				<div class="row">
					<ng-container *ngFor="let speciality of specialities; index as i;">
						<div *ngIf="isNonVegetarian(speciality.name)" class="col-md-4">
							<div class="card mb-4 box-shadow">
								<img [src]="speciality.image"
									 class="card-img-top pizza-image">
								<div class="card-body">
									<h5 class="card-title">{{speciality.name}}</h5>
									<h6 class="card-subtitle mb-2 text-muted">
										{{speciality.pizza.crust.name}} sauce, {{speciality.pizza.sauce.name}} crust,
										{{displayToppings(speciality.pizza.toppings)}}
									</h6>
									<div class="d-flex justify-content-between align-items-center">
										<div class="btn-group">
											<button (click)="onClickAddToCart(speciality.pizza)"
													class="btn btn-sm btn-success"
													type="button">Add to cart
											</button>
										</div>
										<small class="text-muted">Creation time: {{speciality.pizza.time}} mins</small>
									</div>
								</div>
							</div>
						</div>
					</ng-container>
				</div>
				<h1 class="display-6 mt-2">Vegetarian</h1>
				<div class="row">
					<ng-container *ngFor="let speciality of specialities; index as i;">
						<div *ngIf="isVegetarian(speciality.name)" class="col-md-4">
							<div class="card mb-4 box-shadow">
								<img [src]="speciality.image"
									 class="card-img-top pizza-image">
								<div class="card-body">
									<h5 class="card-title">{{speciality.name}}</h5>
									<h6 class="card-subtitle mb-2 text-muted text-lowercase">
										{{speciality.pizza.crust.name}} sauce, {{speciality.pizza.sauce.name}} crust,
										{{displayToppings(speciality.pizza.toppings)}}
									</h6>
									<div class="d-flex justify-content-between align-items-center">
										<div class="btn-group">
											<button (click)="onClickAddToCart(speciality.pizza)"
													class="btn btn-sm btn-success"
													type="button">Add to cart
											</button>
										</div>
										<small class="text-muted">Creation time: {{speciality.pizza.time}} mins</small>
									</div>
								</div>
							</div>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
	</mat-drawer-content>
	<mat-drawer #drawer [mode]="mobileQuery.matches ? 'push' : 'side'" position="end" style="width: 250px">
		<app-cart [usedInSidebar]="true"></app-cart>
	</mat-drawer>
</mat-drawer-container>
