<div class="position-fixed bottom-0 end-0 p-3 pb-5" style="z-index: 11">
	<div #homeToast aria-atomic="true" aria-live="assertive"
		 class="toast align-items-center text-white bg-success border-0" role="alert">
		<div class="d-flex">
			<div class="toast-body">
				Success! Added specialty pizza to cart.
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<nav class="app-breadcrumb">
		<ol class="breadcrumb">
			<li aria-current="page" class="breadcrumb-item active">Home</li>
		</ol>
	</nav>
</div>

<mat-drawer-container [hasBackdrop]="false" class="example-container">
	<mat-drawer-content>
		<div class="position-sticky">
			<div class="position-absolute" style="right: 0.25rem; top: 6.5rem;">
				<button (click)="drawer.toggle()" aria-label="Toggle drawer" color="primary" mat-mini-fab
						title="Toggle drawer">
					<mat-icon>menu</mat-icon>
				</button>
			</div>
		</div>

		<section class="jumbotron text-center">
			<div class="container-fluid">
				<h1 class="jumbotron-heading">Welcome to Pizza Creation</h1>
				<p class="lead text-muted">SWE 632 - Group Project - Akshath Phillips, Daksha Arora, Madhav Shroff</p>
			</div>
		</section>

		<div class="album py-3 bg-light">
			<div class="container-fluid">
				<h1 #targetScroll class="display-4" style="margin-bottom: 0">Our Pizzas</h1>
				<div class="row">
					<div class="row row-cols-1 row-cols-md-4 g-4">
						<div class="col">
							<div class="card h-100 position-relative app-shadow">
								<img [src]="'/assets/empty_pizza.jpeg'"
									 class="card-img-top pizza-image">

								<div class="card-body">
									<h3 class="card-title">Create your own</h3>
									<h4 class="card-subtitle mb-2 text-muted text-lowercase">
										unlimited kinds toppings (limit to 2 per topping)
									</h4>
								</div>
								<div class="card-footer">
									<small class="text-muted">
										<div class="row align-items-center">
											<div class="col">Creation time: ~9 mins</div>
											<div class="col-auto">
												<button class="btn btn-sm btn-success"
														routerLink="/custom"
														type="button">Create
												</button>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
						<div *ngFor="let speciality of specialities; index as i;" class="col">
							<div class="card h-100 position-relative app-shadow">
								<div *ngIf="isVegetarian(speciality.name); then thenBlock else elseBlock"></div>
								<ng-template #thenBlock>
									<span
										class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success"
										style="cursor: default"
										title="Vegetarian Pizzas">V <span
										class="visually-hidden">vegetarian pizzas</span></span>
								</ng-template>
								<ng-template #elseBlock>
									<span
										class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
										style="cursor: default"
										title="Non-vegetarian Pizzas">NV <span
										class="visually-hidden">non-vegetarian pizzas</span></span>
								</ng-template>

								<img [src]="speciality.image"
									 class="card-img-top pizza-image">

								<div class="card-body">
									<h3 class="card-title">{{speciality.name}}</h3>
									<h4 class="card-subtitle mb-2 text-muted text-lowercase">
										{{speciality.pizza.crust.name}} sauce, {{speciality.pizza.sauce.name}} crust,
										{{displayToppings(speciality.pizza.toppings)}}
									</h4>
								</div>
								<div class="card-footer">
									<small class="text-muted">
										<div class="row align-items-center">
											<div class="col">Creation time: {{speciality.pizza.time}} mins</div>
											<div class="col-auto">
												<button (click)="onClickAddToCart(speciality.pizza)"
														class="btn btn-sm btn-success"
														type="button">Add to cart
												</button>
											</div>
										</div>
									</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</mat-drawer-content>
	<mat-drawer #drawer [mode]="mobileQuery.matches ? 'push' : 'side'" class="app-mat-drawer-end" position="end">
		<app-cart [usedInSidebar]="true"></app-cart>
	</mat-drawer>
</mat-drawer-container>
