<div class="container-fluid">
	<nav class="app-breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a routerLink="/home" routerLinkActive="active">Home</a></li>
			<li class="breadcrumb-item"><a routerLink="/cart" routerLinkActive="active">Cart</a></li>
			<li aria-current="page" class="breadcrumb-item active">Checkout</li>
		</ol>
	</nav>
	<div class="d-flex justify-content-between">
		<h1 class="display-6">Cart</h1>
		<button class="btn btn-success align-self-center" routerLink="/order-success"
				type="submit">Place Order
		</button>
	</div>
</div>
<div class="container-fluid">
	<form class="row g-3">
		<div class="col-md-6">
			<label class="form-label" for="inputEmail4">Email</label>
			<input class="form-control" id="inputEmail4" type="email"
				   value="john.doe@SWE632.gmu.edu">
		</div>
		<div class="col-md-6">
			<label class="form-label" for="inputPassword4">Password</label>
			<input class="form-control" id="inputPassword4" type="password"
				   value="123456789000">
		</div>
		<div class="col-12">
			<label class="form-label" for="inputAddress">Address</label>
			<input class="form-control" id="inputAddress" type="text" value="1234 Main St">
		</div>
		<div class="col-12">
			<label class="form-label" for="inputAddress2">Address 2</label>
			<input class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" type="text">
		</div>
		<div class="col-md-6">
			<label class="form-label" for="inputCity">City</label>
			<input class="form-control" id="inputCity" type="text"
				   value="Fairfax">
		</div>
		<div class="col-md-4">
			<label class="form-label" for="inputState">State</label>
			<select class="form-select" id="inputState">
				<option selected>VA</option>
			</select>
		</div>
		<div class="col-md-2">
			<label class="form-label" for="inputZip">Zip</label>
			<input class="form-control" id="inputZip" type="text" value="22030">
		</div>
		<div class="col-md-6">
			<label class="form-label" for="inputEmail4">Card Number</label>
			<input class="form-control" id="cardNumber" type="number"
				   value="1234 5678 9999 0000">
		</div>
		<!-- Heuristic Evaluation - Feedback 3.3: "When checking out, the user is not prompted to enter a security code for their card. This violates heuristic 4, consistency and standards. When using a credit card on any online shopping platform, users are forced to enter the three digit security code found on the back of their card in order to validate their credit card. This is a standard for online shopping." -->
		<div class="col-md-2">
			<label class="form-label" for="inputCvv">Security Code / CVV</label>
			<input class="form-control" id="inputCvv" type="text" value="123">
		</div>
		<div class="col-md-6">
			<label class="form-label">Card Expiry Date</label>
			<input class="form-control" id="cardExpiry" type="date" value="0">
		</div>
		<div class="col-md-6">
			<label class="form-label" for="inputPassword4">Billing Zipcode</label>
			<input class="form-control" id="billingZipcode" type="number"
				   value="22030">
		</div>
	</form>
</div>
