<div class="container-fluid">
	<nav class="app-breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a routerLink="/home" routerLinkActive="active">Home</a></li>
			<li aria-current="page" class="breadcrumb-item active">Create your own</li>
		</ol>
	</nav>

	<div class="alert alert-info" role="alert">
		<strong>Note:</strong> A pizza <strong class="text-decoration-underline">should</strong> have a crust, sauce,
		and at-least one topping.
	</div>
	<div class="row">
		<div class="col-md-8">
			<app-custom-ingredients></app-custom-ingredients>
		</div>
		<div class="col-md-4">
			<app-custom-creator></app-custom-creator>
		</div>
	</div>
</div>
